.contact{
    &__input{
        width: 100%;
        font-style: $normal-font-size;
        font-weight: $font-semi;
        padding: 1rem;
        border-radius: .5rem;
        border: 1.5px solid $second-color;
        outline: none;
        margin-bottom: $mb-4;
    }
    &__button{
        display: block;
        border: none;
        outline: none;
        font-size: $normal-font-size;
        cursor: pointer;
        margin-left: auto;
    }
}