.footer{
    background-color: $second-color;
    color: #fff;
    text-align: center;
    font-weight: $font-semi;
    padding: 2rem 0;
    &__title{
        font-size: 2rem;
        margin-bottom: $mb-4;
    }
    &__social{
        margin-bottom: $mb-4;
    }
    &__icon{
        font-size: 1.5rem;
        color: #fff;
        margin: 0 $mb-4;
    }
}