.skills{
    &__container{
        row-gap: 2rem;
        text-align: center;
    }
    &__subtitle{
        margin-bottom: $mb-2
    }
    &__text{
        margin-bottom: $mb-4;
    }
    &__data{
        display: flex;
        justify-content: space-between;
        text-align: center;
        position: relative;
        font-weight: $font-semi;
        padding: .5rem 1rem;
        margin-bottom: $mb-4;
        border-radius: .5rem;
        box-shadow: 0 4px 25px rgba( 14, 36, 49, .15);
    }
    &__icon{
        font-size: 2rem;
        margin-right: $mb-2;
        color: $first-color;
    }
    &__name{
        display: flex;
        align-items: center;
    }
    &__bar{
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: $first-color;
        height: .25rem;
        border-radius: .5rem;
        z-index: $z-back;
    }
    &__html{
        width: 95%;
    }
    &__css{
        width: 90%;
    }
    &__js{
        width: 85%;
    }
    &__ux{
        width: 60%;
    }
    &__img{
        border-radius: .5rem;
    }
}
 